<header class="content">
  <% flash.each do |key, value| %>
    <div class="alert-warning">
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    </div>
  <% end %>
</header>
