 review for <%= @product.name %></h3>
<p><%= @review.content %></p>
<p><% @review.rating.times do %><span class="star">★</span><% end %><% (5 - @review.rating).times do %><span class="out-of">★</span><% end %></p>
<hr>
<ul class="sub-links">
  <li><%= link_to "Back to Product", product_path(@product) %></li>
</ul>
